@import "tailwindcss";

@media print {
    html, body {
        height: auto !important;
        overflow: visible !important;
        position: static !important;
        background-color: white !important;
    }
    
    #app, .h-screen, .min-h-screen, .h-full, .min-h-full, .overflow-hidden, .overflow-y-auto {
        height: auto !important;
        min-height: auto !important;
        overflow: visible !important;
        position: static !important;
    }
}
